<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>JavaEnterpriseTraining</display-name>
	<servlet>
		<servlet-name>personAddServlet</servlet-name>
		<servlet-class>ua.com.javastartup.enterprise.person.web.PersonAddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>personAddServlet</servlet-name>
		<url-pattern>/person/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>personViewServlet</servlet-name>
		<servlet-class>ua.com.javastartup.enterprise.person.web.PersonViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>personViewServlet</servlet-name>
		<url-pattern>/person/view</url-pattern>
	</servlet-mapping>
</web-app>
